<section id="intro" class="intro">
<div class="middlePage">
   <div class="panel panel-info">
     <div class="panel-body">

            <div class="row">
  <div class="col-xs-6">
    <div class="row-fluid">
        <h4 class="text-info well" style="display:block;text-align:center">
          上期开奖结果
        </h4>
      </div><div class="row last-div">
      
      

<div class="col-xs-12">
  <ul class="" style="width: 300px;">
          <li style="float: left;">
            <img alt="140x140" src="images/a.png" class="img-responsive last-img">
          </li>
          <li style="
    float: left;
    display: inline;
">
            <img alt="140x140" src="images/a.png" class="img-responsive last-img">
          </li>
          <li style="
    float: left;
    display: inline;
">
            <img alt="140x140" src="images/a.png" class="img-responsive last-img">
          </li>
        </ul>
</div>


    <div class="col-xs-12">
  <ul class="" style="width: 300px;">
          <li style="
    float: left;
    /* display: none; */
">
            <img alt="140x140" src="images/a.png" class="img-responsive last-img" style="
    /* float: left; */
    /* display: inline; */
">
          </li>
          <li style="
    float: left;
    display: inline;
">
            <img alt="140x140" src="images/a.png" class="img-responsive last-img">
          </li>
          <li style="
    float: left;
    display: inline;
">
            <img alt="140x140" src="images/a.png" class="img-responsive last-img">
          </li>
        </ul>
</div><div class="col-xs-12">
  <ul class="" style="width: 300px;">
          <li style="
    float: left;
    /* display: none; */
">
            <img alt="140x140" src="images/a.png" class="img-responsive last-img" style="
    /* float: left; */
    /* display: inline; */
">
          </li>
          <li style="
    float: left;
    display: inline;
">
            <img alt="140x140" src="images/a.png" class="img-responsive last-img">
          </li>
          <li style="
    float: left;
    display: inline;
">
            <img alt="140x140" src="images/a.png" class="img-responsive last-img">
          </li>
        </ul>
</div></div>
    <div class="row-fluid text-center">
      <h4 class="text-info well" style="display:block;text-align:center">
        前三期记录记录
      </h4>
    </div>
    <div class="row-fluid">
      <div class="col-xs-4">
        <div class="row-fluid last-div2">
          <div class="span12" style="text-align: center;">
            第121期
          </div>
          <div class="" style="display:block;text-align:center">
            <ul style="
    width: 120px;
">
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
            </ul>
            
            
          </div>
        <div class="" style="display:block;text-align:center">
            <ul style="
    width: 120px;
">
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
            </ul>
            
            
          </div><div class="" style="display:block;text-align:center">
            <ul style="
    width: 120px;
">
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
            </ul>
            
            
          </div></div>
      </div>
      
      
    <div class="col-xs-4">
        <div class="row-fluid last-div2">
          <div class="span12" style="text-align: center;">
            第121期
          </div>
          <div class="" style="display:block;text-align:center">
            <ul style="
    width: 120px;
">
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
            </ul>
            
            
          </div>
        <div class="" style="display:block;text-align:center">
            <ul style="
    width: 120px;
">
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
            </ul>
            
            
          </div><div class="" style="display:block;text-align:center">
            <ul style="
    width: 120px;
">
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
            </ul>
            
            
          </div></div>
      </div><div class="col-xs-4">
        <div class="row-fluid last-div2">
          <div class="span12" style="text-align: center;">
            第121期
          </div>
          <div class="" style="display:block;text-align:center">
            <ul style="
    width: 120px;
">
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
            </ul>
            
            
          </div>
        <div class="" style="display:block;text-align:center">
            <ul style="
    width: 120px;
">
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
            </ul>
            
            
          </div><div class="" style="display:block;text-align:center">
            <ul style="
    width: 120px;
">
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
              <li style="
    float: left;
">
                <img alt="140x140" src="images/a.png" class="img-responsive last-img2">
              </li>
            </ul>
            
            
          </div></div>
      </div></div>
  </div>
  <div class="col-xs-6">
                    <div class="row">
                        <h4 class="text-info well" style="display:block;text-align:center">
                            距离第123期 还有98秒开奖
                        </h4>
                    </div>
                    <div class="row">
<div class="col-xs-6">

<div class="form-group">
  
  <div class=""> 
    <label class="radio-inline nofull default left" for="radios-0">
      <input type="radio" class="iCheck" name="iCheck" id="iCheck" value="1" checked="checked">横一</label> 
    <label class="radio-inline" for="radios-1">
      <input type="radio" name="iCheck" id="radios-1" value="2">横二</label> 
    <label class="radio-inline" for="radios-2">
      <input type="radio" name="iCheck" id="radios-2" value="3">横三</label> 
    
  </div>
</div>
 <div class="form-group">
  
  <div class=""> 
    <label class="radio-inline" for="radios-3">
      <input type="radio" name="radios" id="radios-3" value="1" checked="checked">竖一</label> 
    <label class="radio-inline" for="radios-4">
      <input type="radio" name="radios" id="radios-4" value="2">竖二</label> 
    <label class="radio-inline" for="radios-5">
      <input type="radio" name="radios" id="radios-5" value="3">竖三</label> 
    
  </div>
</div></div>  
<div class="col-xs-6"> 
                    <div class="form-group">
  
  <div class=""> 
    <label class="radio-inline" for="radios-6">
      <input type="radio" name="radios2" id="radios-6" value="1" checked="checked">清</label> 
    <label class="radio-inline" for="radios-7">
      <input type="radio" name="radios2" id="radios-7" value="2">大</label> 
    <label class="radio-inline" for="radios-8">
      <input type="radio" name="radios2" id="radios-8" value="3">小</label> 
    
  </div>
</div>  
<div class="form-group">
  
  <div class=""> 
    <label class="radio-inline" for="radios-9">
      <input type="radio" name="radios2" id="radios-9" value="1" checked="checked">顺子</label> 
    <label class="radio-inline" for="radios-10">
      <input type="radio" name="radios2" id="radios-10" value="2">相同</label> 
     
    
  </div>
</div></div></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- <div id="slider-range-max"></div> -->
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="input-group">
               <input type="text" class="form-control">
               <span class="input-group-btn">
                  <button class="btn btn-default" type="button">添加</button>
               </span>
            </div>
                                </div>
                                <div class="col-xs-8" style="padding-top:1px; margin-left:0px;">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">
                                            0.1倍
                                        </button>
                                        <button type="button" class="btn btn-primary">
                                            0.5倍
                                        </button>
                                        
                                        <button type="button" class="btn btn-primary">
                                            1.2倍
                                        </button>
                                        <button type="button" class="btn btn-primary">
                                            2倍
                                        </button>
                                        <button type="button" class="btn btn-primary">
                                            5倍
                                        </button>
                                        <button type="button" class="btn btn-primary">
                                            10倍
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <p>
                                &nbsp;
                            </p>
                            <div class="row">
                                <div class="well" style="display:block;text-align:center">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    编号
                                                </th>
                                                <th>
                                                    项目
                                                </th>
                                                <th>
                                                    模式
                                                </th>
                                                <th>
                                                    金币
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="info">
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    横一
                                                </td>
                                                <td>
                                                    顺子
                                                </td>
                                                <td>
                                                    1000
                                                </td>
                                            </tr>
                                            <tr class="warning">
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    横一
                                                </td>
                                                <td>
                                                    顺子
                                                </td>
                                                <td>
                                                    1000
                                                </td>
                                            </tr>
                                            <tr class="info">
                                                <td>
                                                    2
                                                </td>
                                                <td>
                                                    横一
                                                </td>
                                                <td>
                                                    顺子
                                                </td>
                                                <td>
                                                    1000
                                                </td>
                                            </tr>
                                            <tr class="warning">
                                                <td>
                                                    3
                                                </td>
                                                <td>
                                                    横一
                                                </td>
                                                <td>
                                                    顺子
                                                </td>
                                                <td>
                                                    1000
                                                </td>
                                            </tr>
                                            <tr class="info">
                                                <td>
                                                    4
                                                </td>
                                                <td>
                                                    横一
                                                </td>
                                                <td>
                                                    顺子
                                                </td>
                                                <td>
                                                    1000
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn btn-primary" type="button">
                                        确认
                                    </button>
                                    <button class="btn btn-primary" type="button">
                                        清空
                                    </button>
                                </div>
                            </div>
                            <p>
                                &nbsp;
                            </p>
                        </div>
                    </div>
                </div>
</div>
   </div>
</section>
