<section id="intro" class="intro">
<div class="middlePage">
   <div class="panel panel-info">
     <div class="panel-body">
      <div class="row">
         <div class="col-md-5" >
            <h1>上期显示</h1>
            <h1>历史记录</h1>
         </div>
       <div class="col-md-7" style="border-left:1px solid #ccc;height:500px">
         <div class="container" id="div-left">
            <div class="row">
              <h1>位置选择</h1>
            </div>
            <div class="row">
              <h1>金币数量</h1> 
            </div>
         </div>
         <div class="col-md-7" class="col-right">
            <div class="container" id="div-right">
               <div class="row">
                 <h1>清、大、小、顺子、相同</h1>
            </div>
         </div>
         <div class="col-md-7" class="col-right">
            <div class="container" id="div-right-below">
               <div class="row">
                 <h1>确认</h1>
               </div>
            </div>
         </div>
         <div class="col-md-7" class="col-left">
            <div class="container" id="div-left">
               <div class="row">
                 <h1>准备投注列表</h1>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
