<h1>show</h1>

<p>
  <strong>账号:</strong>
  <%= @user.account %>
</p>

<p>
  <strong>昵称:</strong>
  <%= @user.nickname %>
</p>
 
<p>
  <strong>金币:</strong>
  <%= @user.coin %>
</p>

<%= link_to '返回', users_path %>