<table class="lot-table" style="width:100%" id="tblprint">
    <tbody>
        <tr>
            <td colspan="2"><%=@gameid%>期</td>
        </tr>
        <% for info in @result %>
        <tr>
            <td rowspan="2">注单号</td>
            <td>项目:<%if info["pos"]==1%>壹<%elsif info["pos"]==2%>贰<%elsif info["pos"]==3%>叁<%elsif info["pos"]%>肆
            <%elsif info["pos"]==4%>肆<%elsif info["pos"]==5%>伍<%elsif info["pos"]==6%>陆<%elsif info["pos"]==7%>柒
            <%elsif info["pos"]==8%>捌<%else%>镹<%end%></td>
        </tr>
        <tr>
            <td>牌面:<%if info["gametype"]==1%>大<%elsif info["gametype"]==2%>小<%end%></td>
        </tr>
        <tr>
            <td>下注额:</td>
            <td><%=info["coin"]%></td>
        </tr>
        <% end %>
        <tr>
            <td>总计注额</td>
            <td><%if @totalcoin %><%=@totalcoin%><% end %></td>
        </tr>
    </tbody>
</table>
