<div id="member-active">
<div class="use-operate">
    <h4>常用操作</h4>
    <div class="info" style="height:100px;">
        <dl class="dl1" data="dl1">
            <dt>
                <%= link_to '修改个人资料', controller: 'mainuser', action: 'changedetail' %>
            </dt>
            <dd>
                资料越详细越能丰富我们的数据库，让我们更了解您的需求。
            </dd>
        </dl>
        <dl class="dl2" data="dl2">
            <dt>
                <%= link_to '修改密码', controller: 'mainuser', action: 'changepassword' %>
            </dt>
            <dd>
                密码是您在本站操作的唯一凭证。<br>
                <%= link_to '修改登录密码', controller: 'mainuser', action: 'changepassword' %>
            </dd>
        </dl>
         <dl class="dl3" data="dl3">
            <dt>
                <a href="#">邮箱绑定</a>
            </dt>
            <dd>
                绑定邮箱，可以获得更多服务哦！当您忘记密码，也可通过绑定的邮箱找回。
            </dd>
        </dl>
            <dl class="dl4" data="dl4">
            <dt>
                <a href="#">手机激活</a>
            </dt>
            <dd>
               激活您的手机，您将可以在交流大厅和志同道合的朋友畅所欲言。
            </dd>
        </dl>
    </div>
</div>
</div>